body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="color"],
input[type="number"],
input[type="text"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
